THEIRSTACK_API_KEY = "API KEY HERE"
THEIRSTACK_BASE_URL = "API URL HERE"
# =========================
# DATABASE (MariaDB)
# =========================
DB_HOST="HOST NAME"
DB_PORT="PORT NUMBER"
DB_USER=root
DB_PASSWORD="PASSWORD"
DB_NAME="DATABASE NAME"
